<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
    <div id="chat-form" style="display:none">
        <h1>Chat room</h1>
        <div id="chat-messages"></div>
        <form action="">
            <input type="text" id="message">
            <button type="submit">Send</button>
        </form>
        <p id="error" style="background-color: red; color: black; width: 200px; font-size: 24px"></p>
    </div>

<form method="POST" action="/user/logout">
    <button type="submit">Logout</button>
</form>
<script>
    const username = '{{ username }}'
    
</script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>

</body>


</html>