<form action="/user/reqchangepass" method="POST" id="formChange">
    <label for="forget">Forget your password?</label>
    <input type="email" name="email" id="email">
    <input type="submit" name="sendChange" id="sendChange">
</form>


<script src="/socket.io/socket.io.js"></script>
<script src="/js/user.js"></script>